body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  height: 100%;
  /* max-width: 38rem; */
  /* padding: 2rem; */
  touch-action: none;
}

.canvas {
  border: 2px solid black;
  touch-action: none;
}

.lasso-cursor:hover {
  cursor: copy;
}

.rectangle-cursor:hover {
  cursor: crosshair;
}

.wand-cursor:hover {
  cursor: pointer;
}

.canvas-wrapper {
  display: inline-block;
  touch-action: none;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 200px auto;
}

.tool {
  width: 90px;
  /* border: 1px solid black; */
}

.tool:hover {
  cursor: pointer;
}

.tools-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}



.resize-modal-input {
  width: 50px;
}



.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.tool-modal {
  position: absolute;
  width: 150px;
  background-color: #F0F0F0;
  color: #333;
  border: 1px solid #c0c0c0;
  /* border-radius: 4px; */
  box-shadow:  0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 101;
}

.modal-header {
  padding: 2px 6px;
  background-color: #6697ff;
  color: white;
  border-bottom: 1px solid #005a9e;
  /* border-top-left-radius: 4px;
  border-top-right-radius: 4px; */
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.modal-title {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close-button {
  background-color: #e81123;
  color: white;
  border: none;
  border-radius: 0;
  font-family: Arial, sans-serif;
  /* font-weight: bold; */
  font-size: 14px;
  width: 30px;
  height: 30px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: -6px;
  margin-top: -2px;
  margin-bottom: -2px;
  transition: background-color 0.2s;
}

.close-button:hover {
  background-color: #f1707a;
}

.modal-content {
  padding: 10px 8px;
  flex-grow: 1;
}

.modal-footer {
  padding: 4px 4px;
  background-color: #F0F0F0;
  /* border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-footer button {
  padding: 2px 6px;
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
  font-weight: 500;
}

.btn-confirm {
  background-color: #6697ff;
  color: white;
}

.btn-cancel {
  background-color: #6c757d;
  color: white;
}

.modal-selection {
  display: block;
  margin: 4px 0px;
  padding: 2px 6px;
}

.modal-tip {
  color: orange;
  font-size: 10px;
}

.details-wrapper {
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  font-size: 14px;
}

.detail-label {

}

.detail-value {

}