body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  height: 100%;
  /* max-width: 38rem; */
  /* padding: 2rem; */
}

.canvas {
  border: 2px solid black;
}

.lasso-cursor:hover {
  cursor: copy;
}

.rectangle-cursor:hover {
  cursor: crosshair;
}

.canvas-wrapper {
  display: inline-block;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 200px auto;
}

.tool {
  width: 90px;
  /* border: 1px solid black; */
}

.tool:hover {
  cursor: pointer;
}

.tools-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}